/dts-v1/;

/ {
    /*Boot message displayed on LCD*/
    bootmsg = "GPA-Robotics","gpa-robotics.com";

    platform {
        compatible = "gpa_tx2_carrier";
    };

    i2c@40005800 {
        reg = < 0x40005800 >;

        pca9685_1: pca9685@8e {
            reg = < 0x8e >;
            freq = < 50 >;
            width = <
                0 0 0 0 0 0 0 0 //IO0-IO7
                0 0 0 0 0 0 0 0 //IO8-IO15
            >;
        };
        pca9685_2: pca9685@8c {
            reg = < 0x8c >;
            freq = < 50 >;
            width = <
                0 0 0 0 0 0 0 0 //IO0-IO7
                0 0 0 0 0 0 0 0 //IO8-IO15
            >;
        };
        lm3549@6c {
            reg = < 0x6c >;

        };
    };

    legs {
        /*Number of legs*/
        #num-legs = < 10 >;
        #address-cells = <1>;
        #size-cells = <0>;

        right_eye: eye@-1 {
            reg = < 8 >;
            devname = "eye-left";
            inverse-kinematics {
                /*IK driver*/
                compatible = "2dof";

                /*Length in mm*10*/
                length = < 0 10 >;

                /*Servo indices and offset*/
                servos = <
                    0
                    (-1) 0
                    (-2) 0
                >;
            };
        };

        eye@-2 {
            reg = < 9 >;
            devname = "eye-right";
            inverse-kinematics {
                /*IK driver*/
                compatible = "2dof";

                /*Length in mm*10*/
                length = < 0 10 >;

                /*Servo indices and offset*/
                servos = <
                    0
                    (-3) 0
                    (-4) 0
                >;
            };
        };

        leg@0 {
            /*Index of leg*/
            reg = < 0 >;

            /*Name of leg*/
            devname = "right-0";

            /*Home coordinates (leg local-space)*/
            home = < 100000 0 0 >;

            /*Matrix used to transform to leg local-space, scaled by 1000*/
            transform = <
                1000    0       0       0
                0       866     (-500)  0
                0       500     866     0
                55000   150000  0       1000
            >;

            inverse-kinematics {
                /*IK driver*/
                compatible = "3dof";

                /*Length in mm*10*/
                length = < 250 1500 1700 >;

                /* index offset */
                servos = <
                    &pca9685_1
                    0 0         /*Base joint*/
                    1 0         /*Hip joint*/
                    2 9000      /*Foot joint*/
                >;

            };
        };
        leg@1 {
            /*Index of leg*/
            reg = < 1 >;

            /*Name of leg*/
            devname = "right-0";

            /*Home coordinates (leg local-space)*/
            home = < 100000 0 0 >;

            /*Matrix used to transform to leg local-space, scaled by 1000*/
            transform = <
                1000    0       0       0
                0       866     (-500)  0
                0       500     866     0
                55000   150000  0       1000
            >;

            inverse-kinematics {
                /*IK driver*/
                compatible = "3dof";

                /*Length in mm*10*/
                length = < 250 1500 1700 >;

                /* index offset */
                servos = <
                    0 0     /*Base joint*/
                    1 0     /*Hip joint*/
                    2 90    /*Foot joint*/
                >;

            };
        };
        leg@2 {
            /*Index of leg*/
            reg = < 2 >;

            /*Name of leg*/
            devname = "right-0";

            /*Home coordinates (leg local-space)*/
            home = < 100000 0 0 >;

            /*Matrix used to transform to leg local-space, scaled by 1000*/
            transform = <
                1000    0       0       0
                0       866     (-500)  0
                0       500     866     0
                55000   150000  0       1000
            >;

            inverse-kinematics {
                /*IK driver*/
                compatible = "3dof";

                /*Length in mm*10*/
                length = < 250 1500 1700 >;

                /* index offset */
                servos = <
                    0 0     /*Base joint*/
                    1 0     /*Hip joint*/
                    2 90    /*Foot joint*/
                >;

            };
        };
        leg@3 {
            /*Index of leg*/
            reg = < 3 >;

            /*Name of leg*/
            devname = "right-0";

            /*Home coordinates (leg local-space)*/
            home = < 100000 0 0 >;

            /*Matrix used to transform to leg local-space, scaled by 1000*/
            transform = <
                1000    0       0       0
                0       866     (-500)  0
                0       500     866     0
                55000   150000  0       1000
            >;

            inverse-kinematics {
                /*IK driver*/
                compatible = "3dof";

                /*Length in mm*10*/
                length = < 250 1500 1700 >;

                /* index offset */
                servos = <
                    0 0     /*Base joint*/
                    1 0     /*Hip joint*/
                    2 90    /*Foot joint*/
                >;

            };
        };
        leg@4 {
            /*Index of leg*/
            reg = < 4 >;

            /*Name of leg*/
            devname = "right-0";

            /*Home coordinates (leg local-space)*/
            home = < 100000 0 0 >;

            /*Matrix used to transform to leg local-space, scaled by 1000*/
            transform = <
                1000    0       0       0
                0       866     (-500)  0
                0       500     866     0
                55000   150000  0       1000
            >;

            inverse-kinematics {
                /*IK driver*/
                compatible = "3dof";

                /*Length in mm*10*/
                length = < 250 1500 1700 >;

                /* index offset */
                servos = <
                    0 0     /*Base joint*/
                    1 0     /*Hip joint*/
                    2 90    /*Foot joint*/
                >;

            };
        };
        leg@5 {
            /*Index of leg*/
            reg = < 5 >;

            /*Name of leg*/
            devname = "right-0";

            /*Home coordinates (leg local-space)*/
            home = < 100000 0 0 >;

            /*Matrix used to transform to leg local-space, scaled by 1000*/
            transform = <
                1000    0       0       0
                0       866     (-500)  0
                0       500     866     0
                55000   150000  0       1000
            >;

            inverse-kinematics {
                /*IK driver*/
                compatible = "3dof";

                /*Length in mm*10*/
                length = < 250 1500 1700 >;

                /* index offset */
                servos = <
                    0 0     /*Base joint*/
                    1 0     /*Hip joint*/
                    2 90    /*Foot joint*/
                >;

            };
        };
        leg@6 {
            /*Index of leg*/
            reg = < 6 >;

            /*Name of leg*/
            devname = "right-0";

            /*Home coordinates (leg local-space)*/
            home = < 100000 0 0 >;

            /*Matrix used to transform to leg local-space, scaled by 1000*/
            transform = <
                1000    0       0       0
                0       866     (-500)  0
                0       500     866     0
                55000   150000  0       1000
            >;

            inverse-kinematics {
                /*IK driver*/
                compatible = "3dof";

                /*Length in mm*10*/
                length = < 250 1500 1700 >;

                /* index offset */
                servos = <
                    0 0     /*Base joint*/
                    1 0     /*Hip joint*/
                    2 90    /*Foot joint*/
                >;

            };
        };
        leg@7 {
            /*Index of leg*/
            reg = < 7 >;

            /*Name of leg*/
            devname = "right-0";

            /*Home coordinates (leg local-space)*/
            home = < 100000 0 0 >;

            /*Matrix used to transform to leg local-space, scaled by 1000*/
            transform = <
                1000    0       0       0
                0       866     (-500)  0
                0       500     866     0
                55000   150000  0       1000
            >;

            inverse-kinematics {
                /*IK driver*/
                compatible = "3dof";

                /*Length in mm*10*/
                length = < 250 1500 1700 >;

                /* index offset */
                servos = <
                    0 0     /*Base joint*/
                    1 0     /*Hip joint*/
                    2 90    /*Foot joint*/
                >;

            };
        };

    };
};



